<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Programme</servlet-name>
		<display-name>Programme</display-name>
		<description></description>
		<servlet-class>controler.Programme</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Users</servlet-name>
		<display-name>Users</display-name>
		<description></description>
		<servlet-class>controler.Users</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Resources</servlet-name>
		<display-name>Resources</display-name>
		<description></description>
		<servlet-class>controler.Resources</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserRegisterControler</servlet-name>
		<display-name>UserRegisterControler</display-name>
		<description></description>
		<servlet-class>controler.UserRegisterControler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConnexionControler</servlet-name>
		<display-name>ConnexionControler</display-name>
		<description></description>
		<servlet-class>controler.ConnexionControler</servlet-class>
		<servlet-name>application</servlet-name>
		<display-name>application</display-name>
		<description></description>
		<servlet-class>controler.Application</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserModficationControler</servlet-name>
		<display-name>UserModficationControler</display-name>
		<description></description>
		<servlet-class>controler.UserModficationControler</servlet-class>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>controler.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>inscription</display-name>
		<servlet-name>inscription</servlet-name>
		<servlet-class>controler.Inscription</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserModificationControl</display-name>
		<servlet-name>UserModificationControl</servlet-name>
		<servlet-class>controler.UserModificationControl</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<servlet-class>controler.UpdateApplication</servlet-class>
		<display-name>ApplicationControler</display-name>
		<servlet-name>ApplicationControler</servlet-name>
		<servlet-class>controler.ApplicationControler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InfoSpecifiqueControler</display-name>
		<servlet-name>InfoSpecifiqueControler</servlet-name>
		<servlet-class>controler.InfoSpecifiqueControler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InfoGeneraleAppControler</display-name>
		<servlet-name>InfoGeneraleAppControler</servlet-name>
		<servlet-class>controler.InfoGeneraleAppControler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SuiviApplicationControler</display-name>
		<servlet-name>SuiviApplicationControler</servlet-name>
		<servlet-class>controler.SuiviApplicationControler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DocumentAchemineControler</display-name>
		<servlet-name>DocumentAchemineControler</servlet-name>
		<servlet-class>controler.DocumentAchemineControler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SuiviPersonneControler</display-name>
		<servlet-name>SuiviPersonneControler</servlet-name>
		<servlet-class>controler.SuiviPersonneControler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SuiviTelephoniqueControler</display-name>
		<servlet-name>SuiviTelephoniqueControler</servlet-name>
		<servlet-class>controler.SuiviTelephoniqueControler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>updateControler</display-name>
		<servlet-name>updateControler</servlet-name>
		<servlet-class>controler.UpdateControler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserPrivilege</display-name>
		<servlet-name>UserPrivilege</servlet-name>
		<servlet-class>controler.UserPrivilege</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateApplicationControler</display-name>
		<servlet-name>UpdateApplicationControler</servlet-name>
		<servlet-class>controler.UpdateApplicationControler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EtatSuiviControler</display-name>
		<servlet-name>EtatSuiviControler</servlet-name>
		<servlet-class>controler.EtatSuiviControler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Programme</servlet-name>
		<url-pattern>/programme</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Users</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resources</servlet-name>
		<url-pattern>/resources</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegisterControler</servlet-name>
		<url-pattern>/UserRegisterControler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnexionControler</servlet-name>
		<url-pattern>/connexionControler</url-pattern>
		<servlet-name>application</servlet-name>
		<url-pattern>/application</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserModficationControler</servlet-name>
		<url-pattern>/UserModficationControler</url-pattern>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserModificationControl</servlet-name>
		<url-pattern>/userModificationControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplicationControler</servlet-name>
		<url-pattern>/ApplicationControler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoSpecifiqueControler</servlet-name>
		<url-pattern>/InfoSpecifiqueControler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoGeneraleAppControler</servlet-name>
		<url-pattern>/infoGeneraleAppControler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuiviApplicationControler</servlet-name>
		<url-pattern>/suiviApplicationControler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DocumentAchemineControler</servlet-name>
		<url-pattern>/documentAchemineControler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuiviPersonneControler</servlet-name>
		<url-pattern>/suiviPersonneControler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuiviTelephoniqueControler</servlet-name>
		<url-pattern>/suiviTelephoniqueControler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserPrivilege</servlet-name>
		<url-pattern>/userPrivilege</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateApplicationControler</servlet-name>
		<url-pattern>/updateApplicationControler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EtatSuiviControler</servlet-name>
		<url-pattern>/etatSuiviControler</url-pattern>
	</servlet-mapping>
</web-app>
